[package]
name = "metrsd"
version = "0.5.5"
edition = "2021"
authors = ["nanocl contributors <team@next-hat.com>"]
description = "The Metrs daemon"
license = "MIT OR Apache-2.0"
readme = "../../readme.md"
repository = "https://github.com/next-hat/metrs"

[[bin]]
name = "metrsd"
test = true
bench = false
path = "src/main.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "4.5", features = ["derive"] }
env_logger = "0.11"
futures = "0.3"
log = "0.4"
ntex = { version = "2", features = ["tokio"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
sysinfo = "0.33"
tokio = "1"
metrs_stubs = { version = "0.5", features = ["serde", "sysinfo", "bytes"] }
